.book-cover-wrapper {
    height : 60px;
     width: 60px ;
     margin-top: 20px;
     transition: transform 1s;
}

.book-cover-wrapper:hover {
    transform: scale(1.5);
    box-shadow: 2px 2px 5px grey, -2px -2px 5px grey;
}

.book-list-wrapper {
    display: flex;
     flex-direction: column;
}

.book-list-wrapper:hover{
    cursor:pointer;
}